<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>40669295174-26d76735p0o7emrsjs84tnl8o55qk0kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40669295174-26d76735p0o7emrsjs84tnl8o55qk0kv</string>
	<key>API_KEY</key>
	<string>AIzaSyAhWmkTa2lkmV60QAQrsyNo08BIlpAw_Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>40669295174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halimenterprise.ImmobilizerCapstone</string>
	<key>PROJECT_ID</key>
	<string>vehicle-immobilizer</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle-immobilizer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40669295174:ios:7ce1edf37845f0cd</string>
	<key>DATABASE_URL</key>
	<string>https://vehicle-immobilizer.firebaseio.com</string>
</dict>
</plist>